@media only screen and (min-width: 550px) {
  #content,
  nav,
  header {
    max-width: 960px;
  }

  .image-grid {
      grid-template-rows: repeat(2,450px);
      grid-template-columns: repeat(2, 1fr);
    }

  .img1 { 
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .img2{
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .img3{
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
