@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&family=Raleway:wght@300&display=swap");

body {
    background-color: #fffef0;
    font-size: 18px;
    height: 100%;
}

header, main, footer {
    margin: 0 auto;
    max-width: 45rem;
}

h1 {
    font-size: 1.75em;
    margin: 0.15rem;
    text-shadow: -.14vh -.16vh .1vh rgba(255, 199, 44, 0.9);
}

header, footer {
    padding: 1rem;
    background-color: #114E31;
    color: #fffef0;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

header {
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    line-height: 2rem;
}

main {
    font-family: 'Raleway', 'Arial', sans-serif;
    line-height: 1.5em;
}

img {
    z-index: 0;
    max-width: 100%;
    max-height: 20vh;
    margin-top: .5em;
}

footer {
    line-height: 1.5rem;
}

a:link {
    color: #ffd76a;
}

a:visited {
    color: #361f36;
} 


footer a:visited {
    color: #ffffff;
}