@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&family=Raleway:wght@300&display=swap");

body {
    background-color: ivory;
    font-size: 18px;
}

header, main, footer {
    margin: 1.25em auto;
    min-width: 640px;
    max-width: 960px;
}

header, footer {
    padding: 1rem;
    background-color: #00552a;
    color: #e3e3e3;
    border-radius: 15px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

header {
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    line-height: 2rem;
}

main {
    font-family: 'Raleway', 'Arial', sans-serif;
    line-height: 1.5em;
}

img {
    float: right;
    margin-top: -4em;
    margin-right: 20px;
    z-index: 0;
    max-width: 20%;
    box-shadow: 15px 10px 5px rgba(100, 100, 100, 0.8);
}

footer {
    line-height: .75rem;
}